[submodule "harbour-lib"]
	path = harbour-lib
	url = https://github.com/monich/harbour-lib.git
[submodule "libqrencode"]
	path = qmlplugin/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "libaztec"]
	path = qmlplugin/libaztec
	url = https://github.com/monich/libaztec.git
